phrs-modules/pcc10WS/src/main/assembly/COCT_MT010000UV01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT090200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT710000UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
    <xs:include schemaLocation="COCT_MT020000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT470000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT110000UV04.xsd"/>
    <xs:include schemaLocation="COCT_MT120104UV.xsd"/>
    <xs:include schemaLocation="COCT_MT060000UV01.xsd"/>
    <xs:complexType name="COCT_MT010000UV01.AccomodationEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonCode" type="CE"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassAccommodation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Admitter">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAdmitter" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Attender">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAttender" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Authorization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="consent" nillable="true" type="COCT_MT470000UV.Consent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipAuthorizedBy" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.CauseOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="encounter" nillable="true" type="COCT_MT010000UV01.Encounter"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipIsEtiologyFor" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Component">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="encounter" nillable="true" type="COCT_MT010000UV01.Encounter"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Consultant">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationConsultant" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Discharger">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDischarger" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Encounter">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="activityTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonCode" type="CE"/>
            <xs:element minOccurs="0" name="admissionReferralSourceCode" type="CE"/>
            <xs:element minOccurs="0" name="lengthOfStayQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="dischargeDispositionCode" type="CE"/>
            <xs:element minOccurs="0" name="preAdmitTestInd" type="BL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialCourtesiesCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialArrangementCode" type="CE"/>
            <xs:element name="subject" type="COCT_MT010000UV01.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT010000UV01.ResponsibleParty1"/>
            <xs:element minOccurs="0" name="admitter" nillable="true" type="COCT_MT010000UV01.Admitter"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attender" nillable="true" type="COCT_MT010000UV01.Attender"/>
            <xs:element minOccurs="0" name="discharger" nillable="true" type="COCT_MT010000UV01.Discharger"/>
            <xs:element minOccurs="0" name="referrer" nillable="true" type="COCT_MT010000UV01.Referrer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="consultant" nillable="true" type="COCT_MT010000UV01.Consultant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="notificationContact" nillable="true" type="COCT_MT010000UV01.NotificationContact"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT010000UV01.Location1"/>
            <xs:element minOccurs="0" name="inFulfillmentOf" nillable="true" type="COCT_MT010000UV01.InFulfillmentOf"/>
            <xs:element minOccurs="0" name="sequelTo" nillable="true" type="COCT_MT010000UV01.SequelTo"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="causeOf" nillable="true" type="COCT_MT010000UV01.CauseOf"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="authorization" nillable="true" type="COCT_MT010000UV01.Authorization"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reference" nillable="true" type="COCT_MT010000UV01.Reference"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation1" nillable="true" type="COCT_MT010000UV01.PertinentInformation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation2" nillable="true" type="COCT_MT010000UV01.PertinentInformation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="transportedBy" nillable="true" type="COCT_MT010000UV01.TransportedBy"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="componentOf" nillable="true" type="COCT_MT010000UV01.Component"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.InFulfillmentOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actAppointment" nillable="true" type="COCT_MT020000UV.ActAppointment"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Location1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element name="serviceDeliveryLocation" nillable="true" type="COCT_MT010000UV01.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Location3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="accomodationEvent" nillable="true" type="COCT_MT010000UV01.AccomodationEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.NotificationContact">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationUgentNotificationContact" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.ObservationEvent02">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="value" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.PertinentInformation2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="priorityNumber" type="INT"/>
            <xs:element name="observationDx" nillable="true" type="COCT_MT120104UV.ObservationDx"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.PertinentInformation3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="observationEvent" nillable="true" type="COCT_MT010000UV01.ObservationEvent02"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Reference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="account" nillable="true" type="COCT_MT110000UV04.Account"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Referrer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationReferrer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.ResponsibleParty1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="time" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element name="assignedOrganization" nillable="true" type="COCT_MT090200UV01.AssignedOrganization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.SequelTo">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="encounter" nillable="true" type="COCT_MT010000UV01.Encounter"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.ServiceDeliveryLocation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="location" nillable="true" type="COCT_MT710000UV07.Place"/>
            <xs:element minOccurs="0" name="serviceProviderOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="locationOf" nillable="true" type="COCT_MT010000UV01.Location3"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.Subject1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="patient" type="COCT_MT050000UV.Patient"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT010000UV01.TransportedBy">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="transportation" nillable="true" type="COCT_MT060000UV01.Transportation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="x_ActRelationshipPatientTransport" use="required"/>
    </xs:complexType>
</xs:schema>
