phrs-modules/pcc10WS/src/main/assembly/COCT_MT080000UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
    <xs:include schemaLocation="COCT_MT070000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT430000UV08.xsd"/>
    <xs:include schemaLocation="COCT_MT250000UV03.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT530000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT210000UV02.xsd"/>
    <xs:include schemaLocation="COCT_MT590000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090300UV01.xsd"/>
    <xs:complexType name="COCT_MT080000UV.ActDefinition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ActReference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Additive">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="quantity" type="RTO_QTY_QTY"/>
            <xs:choice>
                <xs:element minOccurs="0" name="additive1" nillable="true" type="COCT_MT080000UV.Holder"/>
                <xs:element minOccurs="0" name="additive2" nillable="true" type="COCT_MT080000UV.Container"/>
                <xs:element minOccurs="0" name="additive3" nillable="true" type="COCT_MT080000UV.AdditiveMaterial"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="related" nillable="true" type="COCT_MT080000UV.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassAdditive" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.AdditiveMaterial">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="riskCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity"/>
            <xs:element minOccurs="0" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="noteText" type="ST"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.AuthorOrPerformer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
                <xs:element name="assignedDevice" nillable="true" type="COCT_MT090300UV01.AssignedDevice"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Consumable">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:element name="labTestKit" nillable="true" type="COCT_MT430000UV08.LabTestKit"/>
                <xs:element name="reagent" nillable="true" type="COCT_MT250000UV03.Reagent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Container">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="capacityQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="heightQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="diameterQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="capTypeCode" type="CE"/>
            <xs:element minOccurs="0" name="separatorTypeCode" type="CE"/>
            <xs:element minOccurs="0" name="barrierDeltaQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="bottomDeltaQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity"/>
            <xs:element minOccurs="0" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassContainer" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ControlActEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CV"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element name="effectiveTime" type="TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element minOccurs="0" name="reasonCode" type="CV"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="overseer" nillable="true" type="COCT_MT080000UV.Overseer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="authorOrPerformer" nillable="true" type="COCT_MT080000UV.AuthorOrPerformer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT080000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informationRecipient" nillable="true" type="COCT_MT080000UV.InformationRecipient"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassControlAct" use="required"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ControlVariable">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:element name="dillution" nillable="true" type="COCT_MT210000UV02.Dillution"/>
                <xs:element name="endogenousContent" nillable="true" type="COCT_MT210000UV02.EndogenousContent"/>
                <xs:element name="reflexPermission" nillable="true" type="COCT_MT210000UV02.ReflexPermission"/>
                <xs:element name="autoRepeatPermission" nillable="true" type="COCT_MT210000UV02.AutoRepeatPermission"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasControlVariable" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Criterion">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="value" type="ANY"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="interpretationCode" type="CE"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Definition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actDefinition" nillable="true" type="COCT_MT080000UV.ActDefinition"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.DerivedSpecimen">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:choice>
                <xs:element minOccurs="0" name="specimenNatural" nillable="true" type="COCT_MT080000UV.Natural"/>
                <xs:element minOccurs="0" name="specimenManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3"/>
            <xs:element minOccurs="0" name="productOf" nillable="true" type="COCT_MT080000UV.Product"/>
            <xs:element minOccurs="0" name="related" nillable="true" type="COCT_MT080000UV.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Device">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="labTestKit" nillable="true" type="COCT_MT430000UV08.LabTestKit"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.EntityInEntity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="positionNumber" type="INT"/>
            <xs:choice>
                <xs:element minOccurs="0" name="containerHolder" nillable="true" type="COCT_MT080000UV.Holder"/>
                <xs:element minOccurs="0" name="container" nillable="true" type="COCT_MT080000UV.Container"/>
                <xs:element minOccurs="0" name="containerAdditiveMaterial" nillable="true" type="COCT_MT080000UV.AdditiveMaterial"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Holder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity"/>
            <xs:element minOccurs="0" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassHolder" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.IdentifiedEntity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element name="assigningOrganization" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.InformationRecipient">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ManufacturedMaterial">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CE"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="lotNumberText" type="ST"/>
            <xs:element minOccurs="0" name="expirationTime" type="IVL_TS"/>
            <xs:element name="asManufacturedProduct" nillable="true" type="COCT_MT080000UV.ManufacturedProduct"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
            <xs:element minOccurs="0" name="asSpecimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT080000UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="derivedSpecimen" nillable="true" type="COCT_MT080000UV.DerivedSpecimen"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturerOrganization" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Natural">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub"/>
            <xs:element minOccurs="0" name="asSpecimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT080000UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="derivedSpecimen" nillable="true" type="COCT_MT080000UV.DerivedSpecimen"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.ObservationEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="TS"/>
            <xs:element name="value" type="ANY"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT080000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT080000UV.Device"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT080000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT080000UV.Author"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT080000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4"/>
            <xs:element minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.OtherIDs">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="scopingOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Overseer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Performer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="noteText" type="ST"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.PertinentInformation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="observation" nillable="true" type="COCT_MT530000UV.Observation"/>
                    <xs:element name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration"/>
                    <xs:element name="supply" nillable="true" type="COCT_MT530000UV.Supply"/>
                    <xs:element name="procedure" nillable="true" type="COCT_MT530000UV.Procedure"/>
                    <xs:element name="encounter" nillable="true" type="COCT_MT530000UV.Encounter"/>
                    <xs:element name="act" nillable="true" type="COCT_MT530000UV.Act"/>
                    <xs:element name="organizer" nillable="true" type="COCT_MT530000UV.Organizer"/>
                </xs:choice>
                <xs:element name="actReference" nillable="true" type="COCT_MT530000UV.ActReference"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Precondition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="priorityNumber" type="INT"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element name="criterion" nillable="true" type="COCT_MT080000UV.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Product">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="specimenProcessStep" nillable="true" type="COCT_MT080000UV.SpecimenProcessStep"/>
                <xs:element name="specimenCollectionProcess" nillable="true" type="COCT_MT080000UV.SpecimenCollectionProcess"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.SourceOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="identifiedEntity" nillable="true" type="COCT_MT080000UV.IdentifiedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="RoleLinkIdentification" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Specimen">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element name="code" type="CE"/>
            <xs:choice>
                <xs:element minOccurs="0" name="specimenNatural" nillable="true" type="COCT_MT080000UV.Natural"/>
                <xs:element minOccurs="0" name="specimenManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial"/>
            </xs:choice>
            <xs:choice>
                <xs:element minOccurs="0" name="sourceNatural" nillable="true" type="COCT_MT080000UV.Natural"/>
                <xs:element minOccurs="0" name="sourceManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3"/>
            <xs:element minOccurs="0" name="productOf" nillable="true" type="COCT_MT080000UV.Product"/>
            <xs:element minOccurs="0" name="related" nillable="true" type="COCT_MT080000UV.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.SpecimenCollectionProcess">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ST"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="approachSiteCode" type="CD"/>
            <xs:element minOccurs="0" name="targetSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT080000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT080000UV.Device"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT080000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT080000UV.Author"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT080000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4"/>
            <xs:element minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSpecimenCollection" use="required"/>
        <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.SpecimenInContainer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:choice>
                <xs:element minOccurs="0" name="containerHolder" nillable="true" type="COCT_MT080000UV.Holder"/>
                <xs:element minOccurs="0" name="container" nillable="true" type="COCT_MT080000UV.Container"/>
                <xs:element minOccurs="0" name="containerAdditiveMaterial" nillable="true" type="COCT_MT080000UV.AdditiveMaterial"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="related" nillable="true" type="COCT_MT080000UV.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.SpecimenProcessStep">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ST"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT080000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT080000UV.Device"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT080000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT080000UV.Author"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT080000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4"/>
            <xs:element minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="x_LabProcessClassCodes" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.SpecimenStub">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="related" nillable="true" type="COCT_MT080000UV.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Subject1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="specimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer"/>
                <xs:element name="additive" nillable="true" type="COCT_MT080000UV.Additive"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Subject2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="specimenProcessStep" nillable="true" type="COCT_MT080000UV.SpecimenProcessStep"/>
                    <xs:element name="specimenCollectionProcess" nillable="true" type="COCT_MT080000UV.SpecimenCollectionProcess"/>
                </xs:choice>
                <xs:element name="observationEvent" nillable="true" type="COCT_MT080000UV.ObservationEvent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Subject3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:element name="actReference" nillable="true" type="COCT_MT080000UV.ActReference"/>
                <xs:element name="annotation" nillable="true" type="COCT_MT590000UV.Annotation"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element name="seperatableInd" type="BL"/>
            <xs:element name="annotation" nillable="true" type="COCT_MT590000UV.Annotation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Subject5">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="controlActEvent" nillable="true" type="COCT_MT080000UV.ControlActEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Transcriber">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="noteText" type="ST"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element name="modeCode" type="CE"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationInformationTranscriber" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT080000UV.Verifier">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="noteText" type="ST"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
</xs:schema>
