phrs-modules/pcc10WS/src/main/assembly/COCT_MT220300UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:complexType name="COCT_MT220300UV.Agency">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="name" type="ON"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPublicInstitution" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Approval">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="holder" nillable="true" type="COCT_MT220300UV.Holder"/>
            <xs:element name="author" type="COCT_MT220300UV.Author"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassContract" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element name="territorialAuthority" type="COCT_MT220300UV.TerritorialAuthority"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Characteristic">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CE"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="value" type="ANY"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Content">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="quantity" type="RTO_QTY_QTY"/>
            <xs:element name="containedMedicine" nillable="true" type="COCT_MT220300UV.Medicine"/>
            <xs:element name="containerPackagedMedicine" type="COCT_MT220300UV.PackagedMedicine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT220300UV.Subject14"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT220300UV.Subject11"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Country">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="name" type="TN"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassState" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.DistributedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="distributingManufacturer" type="COCT_MT220300UV.Manufacturer"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassDistributedMaterial" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Holder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="role" nillable="true" type="COCT_MT220300UV.Role"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationHolder" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturer" type="COCT_MT220300UV.Manufacturer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT220300UV.Subject25"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT220300UV.Subject15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf3" nillable="true" type="COCT_MT220300UV.Subject16"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Manufacturer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asRelatedManufacturer" nillable="true" type="COCT_MT220300UV.RelatedManufacturer"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Medicine">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="TN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="formCode" type="CE"/>
            <xs:element minOccurs="0" name="lotNumberText" type="ST"/>
            <xs:element minOccurs="0" name="expirationTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="stabilityTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asDistributedProduct" nillable="true" type="COCT_MT220300UV.DistributedProduct"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMedicineManufacturer" nillable="true" type="COCT_MT220300UV.MedicineManufacturer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecializedKind" nillable="true" type="COCT_MT220300UV.SpecializedKind"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="part" nillable="true" type="COCT_MT220300UV.Part"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.MedicineClass">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="TN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="formCode" type="CE"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute fixed="KIND" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.MedicineManufacturer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturer" nillable="true" type="COCT_MT220300UV.Manufacturer"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.PackagedMedicine">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="TN"/>
            <xs:element minOccurs="0" name="formCode" type="CE"/>
            <xs:element minOccurs="0" name="lotNumberText" type="ST"/>
            <xs:element minOccurs="0" name="capacityQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="capTypeCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asManufacturedProduct" nillable="true" type="COCT_MT220300UV.ManufacturedProduct"/>
            <xs:element minOccurs="0" name="asSuperContent" nillable="true" type="COCT_MT220300UV.SuperContent"/>
            <xs:element minOccurs="0" name="subContent" nillable="true" type="COCT_MT220300UV.SubContent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassContainer" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Part">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="quantity" type="RTO_QTY_QTY"/>
            <xs:element name="partMedicine" type="COCT_MT220300UV.Medicine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT220300UV.Subject4"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Policy">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.RelatedManufacturer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="representedManufacturer" nillable="true" type="COCT_MT220300UV.Manufacturer"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Role">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="playingManufacturer" type="COCT_MT220300UV.Manufacturer"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.SpecializedKind">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="generalizedMedicineClass" nillable="true" type="COCT_MT220300UV.MedicineClass"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.SubContent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="quantity" type="RTO_QTY_QTY"/>
            <xs:element minOccurs="0" name="containedPackagedMedicine" nillable="true" type="COCT_MT220300UV.PackagedMedicine"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject11">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="approval" nillable="true" type="COCT_MT220300UV.Approval"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject14">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="policy" nillable="true" type="COCT_MT220300UV.Policy"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject15">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="policy" nillable="true" type="COCT_MT220300UV.Policy"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject16">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="approval" nillable="true" type="COCT_MT220300UV.Approval"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject25">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="characteristic" nillable="true" type="COCT_MT220300UV.Characteristic"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="characteristic" nillable="true" type="COCT_MT220300UV.Characteristic"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.SuperContent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="quantity" type="RTO_QTY_QTY"/>
            <xs:element name="containerPackagedMedicine" type="COCT_MT220300UV.PackagedMedicine"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT220300UV.TerritorialAuthority">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="territory" nillable="true" type="COCT_MT220300UV.Agency"/>
            <xs:element minOccurs="0" name="governingCountry" nillable="true" type="COCT_MT220300UV.Country"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassTerritoryOfAuthority" use="required"/>
    </xs:complexType>
</xs:schema>
