phrs-modules/pcc10WS/src/main/assembly/COCT_MT030200UV08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
    <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT030207UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT710000UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT670000UV04.xsd"/>
    <xs:complexType name="COCT_MT030200UV08.BirthPlace">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
            <xs:element minOccurs="0" name="birthplace" nillable="true" type="COCT_MT710000UV07.Place"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.CareGiver">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="careGiverPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CAREGIVER" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Citizen">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="politicalNation" type="COCT_MT030200UV08.Nation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CIT" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.ContactParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="contactPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
                <xs:element name="contactOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Employee">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="jobTitleName" type="SC"/>
            <xs:element minOccurs="0" name="jobClassCode" type="CE"/>
            <xs:element minOccurs="0" name="occupationCode" type="CE"/>
            <xs:element name="employerOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Group">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="existenceTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Guardian">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="certificateText" type="ED"/>
            <xs:choice>
                <xs:element name="guardianPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
                <xs:element name="guardianOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="GUARD" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.LanguageCommunication">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="proficiencyLevelCode" type="CE"/>
            <xs:element minOccurs="0" name="preferenceInd" type="BL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Member">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="group" nillable="true" type="COCT_MT030200UV08.Group"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Nation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="name" type="ON"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute fixed="NAT" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.OtherIDs">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="scopingOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Person">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" name="name" type="PN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="deceasedInd" type="BL"/>
            <xs:element minOccurs="0" name="deceasedTime" type="TS"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="organDonorInd" type="BL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element minOccurs="0" name="maritalStatusCode" type="CE"/>
            <xs:element minOccurs="0" name="educationLevelCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disabilityCode" type="CE"/>
            <xs:element minOccurs="0" name="livingArrangementCode" type="CE"/>
            <xs:element minOccurs="0" name="religiousAffiliationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="raceCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicGroupCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asEmployee" nillable="true" type="COCT_MT030200UV08.Employee"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asCitizen" nillable="true" type="COCT_MT030200UV08.Citizen"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asStudent" nillable="true" type="COCT_MT030200UV08.Student"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="COCT_MT030200UV08.Member"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT030200UV08.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="COCT_MT030200UV08.ContactParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="COCT_MT030200UV08.Guardian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="personalRelationship" nillable="true" type="COCT_MT030200UV08.PersonalRelationship"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="careGiver" nillable="true" type="COCT_MT030200UV08.CareGiver"/>
            <xs:element minOccurs="0" name="birthPlace" nillable="true" type="COCT_MT030200UV08.BirthPlace"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantorRole" nillable="true" type="COCT_MT670000UV04.GuarantorRole"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="languageCommunication" nillable="true" type="COCT_MT030200UV08.LanguageCommunication"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.PersonalRelationship">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="relationshipHolder" nillable="true" type="COCT_MT030207UV07.Person"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRS" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030200UV08.Student">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="schoolOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="STD" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
</xs:schema>
