phrs-modules/pcc10WS/src/main/assembly/MFMI_MT700712UV01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 7657 2009-03-27 04:11:34Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Fix Names Transform: $Id: FixMifNames.xsl 7634 2009-03-23 00:42:50Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT090300UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090003UV01.xsd"/>
    <xs:include schemaLocation="MCAI_MT900001UV01.xsd"/>
    <xs:complexType name="MFMI_MT700712UV01.ActDefinition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Author1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090003UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Author2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090003UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.AuthorOrPerformer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:element name="assignedDevice" nillable="true" type="COCT_MT090300UV01.AssignedDevice"/>
                <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Custodian">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090003UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationCustodian" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Definition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actDefinition" nillable="true" type="MFMI_MT700712UV01.ActDefinition"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.InFulfillmentOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="registrationRequest" nillable="true" type="MFMI_MT700712UV01.RegistrationRequest"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.InformationRecipient">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Overseer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required"/>
        <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.PriorRegisteredAct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodCompletionTrack" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.PriorRegisteredRole">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.PriorRegistration">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="subject1" nillable="true" type="MFMI_MT700712UV01.Subject3"/>
            <xs:element minOccurs="0" name="subject2" nillable="true" type="MFMI_MT700712UV01.Subject4"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRegistration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.QueryAck">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="queryId" type="II"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element name="queryResponseCode" type="CS"/>
            <xs:element minOccurs="0" name="resultTotalQuantity" type="INT"/>
            <xs:element minOccurs="0" name="resultCurrentQuantity" type="INT"/>
            <xs:element minOccurs="0" name="resultRemainingQuantity" type="INT"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Reason">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="detectedIssueEvent" nillable="true" type="MCAI_MT900001UV01.DetectedIssueEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
        <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.RegistrationRequest">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="MFMI_MT700712UV01.Author1"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRegistration" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.ReplacementOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="priorRegistration" nillable="true" type="MFMI_MT700712UV01.PriorRegistration"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReplaces" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Subject3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="priorRegisteredRole" nillable="true" type="MFMI_MT700712UV01.PriorRegisteredRole"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="MFMI_MT700712UV01.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="priorRegisteredAct" nillable="true" type="MFMI_MT700712UV01.PriorRegisteredAct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
</xs:schema>
