phrs-modules/pcc10WS/src/main/assembly/REPC_MT000100UV01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT230100UV.xsd"/>
    <xs:include schemaLocation="COCT_MT220200UV.xsd"/>
    <xs:include schemaLocation="COCT_MT220300UV.xsd"/>
    <xs:include schemaLocation="COCT_MT230100UV.xsd"/>
    <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT080000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
    <xs:complexType name="REPC_MT000100UV01.Act">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custodian" nillable="true" type="REPC_MT000100UV01.Custodian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.ActDefinition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.ActReference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.AdministerableMaterial">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="administerableMaterial" type="REPC_MT000100UV01.Material"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassAdministerableMaterial" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Author3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Component3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="observation" nillable="true" type="REPC_MT000100UV01.Observation"/>
                    <xs:element name="substanceAdministration" nillable="true" type="REPC_MT000100UV01.SubstanceAdministration"/>
                    <xs:element name="supply" nillable="true" type="REPC_MT000100UV01.Supply"/>
                    <xs:element name="procedure" nillable="true" type="REPC_MT000100UV01.Procedure"/>
                    <xs:element name="encounter" nillable="true" type="REPC_MT000100UV01.Encounter"/>
                    <xs:element name="act" nillable="true" type="REPC_MT000100UV01.Act"/>
                    <xs:element name="organizer" nillable="true" type="REPC_MT000100UV01.Organizer"/>
                </xs:choice>
                <xs:element name="actReference" nillable="true" type="REPC_MT000100UV01.ActReference"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Conditions">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="REPC_MT000100UV01.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Consumable">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="medication" type="COCT_MT230100UV.Medication"/>
                <xs:element name="administerableMaterial" type="REPC_MT000100UV01.AdministerableMaterial"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Criterion">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element name="value" type="ANY"/>
            <xs:element name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="REPC_MT000100UV01.Precondition2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
        <xs:attribute default="false" name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Custodian">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationCustodian" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Definition2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actDefinition" nillable="true" type="REPC_MT000100UV01.ActDefinition"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Encounter">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="admissionReferralSourceCode" type="CE"/>
            <xs:element minOccurs="0" name="lengthOfStayQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="dischargeDispositionCode" type="CE"/>
            <xs:element minOccurs="0" name="preAdmitTestInd" type="BL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialCourtesiesCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialArrangementCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.HealthCareFacility">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Place"/>
            <xs:element minOccurs="0" name="serviceProviderOrganization" nillable="true" type="REPC_MT000100UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Informant12">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CD"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="healthCareFacility" nillable="true" type="REPC_MT000100UV01.HealthCareFacility"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Material">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="desc" type="ST"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="materialPart" nillable="true" type="REPC_MT000100UV01.MaterialPart"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="MAT" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Material2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CV"/>
            <xs:element minOccurs="0" name="desc" type="ST"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute fixed="MAT" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.MaterialPart">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="partMaterial" type="REPC_MT000100UV01.Material2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Observation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="derivationExpr" type="ST"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CS"/>
            <xs:element minOccurs="0" name="value" type="ANY"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="referenceRange" nillable="true" type="REPC_MT000100UV01.ReferenceRange2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.ObservationRange">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element name="value" type="ANY"/>
            <xs:element name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="REPC_MT000100UV01.Precondition"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
        <xs:attribute default="false" name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Organization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="ON"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Organizer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component" nillable="true" type="REPC_MT000100UV01.Component3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassContainer" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Performer3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CD"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Place">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Precondition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="REPC_MT000100UV01.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Precondition2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="REPC_MT000100UV01.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Procedure">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="interruptibleInd" type="BL"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Product">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element minOccurs="0" name="playingMaterial" nillable="true" type="REPC_MT000100UV01.Material"/>
            <xs:element minOccurs="0" name="scopingOrganization" nillable="true" type="REPC_MT000100UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassPassive" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Product2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="content" type="COCT_MT220300UV.Content"/>
                    <xs:element name="medication" type="COCT_MT230100UV.Medication"/>
                </xs:choice>
                <xs:element name="product" type="REPC_MT000100UV01.Product"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.RecordTarget">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.ReferenceRange2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="observationRange" nillable="true" type="REPC_MT000100UV01.ObservationRange"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.ResponsibleParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.SourceOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="pauseQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:element name="observation" nillable="true" type="REPC_MT000100UV01.Observation"/>
                <xs:element name="substanceAdministration" nillable="true" type="REPC_MT000100UV01.SubstanceAdministration"/>
                <xs:element name="supply" nillable="true" type="REPC_MT000100UV01.Supply"/>
                <xs:element name="procedure" nillable="true" type="REPC_MT000100UV01.Procedure"/>
                <xs:element name="encounter" nillable="true" type="REPC_MT000100UV01.Encounter"/>
                <xs:element name="act" nillable="true" type="REPC_MT000100UV01.Act"/>
                <xs:element name="organizer" nillable="true" type="REPC_MT000100UV01.Organizer"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute name="inversionInd" type="bl" use="optional"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.SourceOf3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="pauseQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:element name="observation" nillable="true" type="REPC_MT000100UV01.Observation"/>
                <xs:element name="substanceAdministration" nillable="true" type="REPC_MT000100UV01.SubstanceAdministration"/>
                <xs:element name="supply" nillable="true" type="REPC_MT000100UV01.Supply"/>
                <xs:element name="procedure" nillable="true" type="REPC_MT000100UV01.Procedure"/>
                <xs:element name="encounter" nillable="true" type="REPC_MT000100UV01.Encounter"/>
                <xs:element name="act" nillable="true" type="REPC_MT000100UV01.Act"/>
                <xs:element name="organizer" nillable="true" type="REPC_MT000100UV01.Organizer"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute name="inversionInd" type="bl" use="optional"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="awarenessCode" type="CE"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                </xs:choice>
                <xs:choice>
                    <xs:element name="specimen1" nillable="true" type="COCT_MT080000UV.Specimen"/>
                    <xs:element name="derivedSpecimen1" nillable="true" type="COCT_MT080000UV.DerivedSpecimen"/>
                </xs:choice>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.SubstanceAdministration">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
            <xs:element minOccurs="0" name="routeCode" type="CE"/>
            <xs:element minOccurs="0" name="doseQuantity" type="IVL_PQ"/>
            <xs:element minOccurs="0" name="rateQuantity" type="IVL_PQ"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="doseCheckQuantity" type="RTO_QTY_QTY"/>
            <xs:element minOccurs="0" name="maxDoseQuantity" type="RTO_PQ_PQ"/>
            <xs:element minOccurs="0" name="administrationUnitCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element name="consumable" type="REPC_MT000100UV01.Consumable"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Supply">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="independentInd" type="BL"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element minOccurs="0" name="expectedUseTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT000100UV01.Subject4"/>
            <xs:element maxOccurs="unbounded" name="product" type="REPC_MT000100UV01.Product2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000100UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000100UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000100UV01.Performer3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000100UV01.Author3"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000100UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000100UV01.Informant12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000100UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000100UV01.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="REPC_MT000100UV01.Definition2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="REPC_MT000100UV01.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf" nillable="true" type="REPC_MT000100UV01.SourceOf3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="REPC_MT000100UV01.SourceOf"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000100UV01.Verifier">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CS"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
</xs:schema>
