phrs-modules/pcc10WS/src/main/assembly/REPC_MT004000UV01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 7657 2009-03-27 04:11:34Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Fix Names Transform: $Id: FixMifNames.xsl 7634 2009-03-23 00:42:50Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 7375 2009-01-26 19:26:53Z wbeeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="REPC_MT000700UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT090400UV.xsd"/>
    <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
    <xs:include schemaLocation="REPC_MT000200UV01.xsd"/>
    <xs:include schemaLocation="REPC_MT000400UV01.xsd"/>
    <xs:include schemaLocation="REPC_MT000100UV01.xsd"/>
    <xs:include schemaLocation="POCD_MT000040.xsd"/>
    <xs:complexType name="REPC_MT004000UV01.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ST"/>
            <xs:element name="time" type="TS"/>
            <xs:element name="modeCode" type="CE"/>
            <xs:element name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:element name="assignedParty1" nillable="true" type="COCT_MT090400UV.AssignedParty"/>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.CareProvisionEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="REPC_MT004000UV01.Subject3"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT004000UV01.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT004000UV01.Performer"/>
            <xs:element minOccurs="0" name="author" nillable="true" type="REPC_MT004000UV01.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT004000UV01.DataEnterer"/>
            <xs:element minOccurs="0" name="primaryInformationRecipient" nillable="true" type="REPC_MT004000UV01.PrimaryInformationRecipient"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT004000UV01.Verifier"/>
            <xs:element maxOccurs="2" minOccurs="0" name="inFulfillmentOf" nillable="true" type="REPC_MT004000UV01.InFulfillmentOf2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="replacementOf" nillable="true" type="REPC_MT004000UV01.ReplacementOf"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reason" nillable="true" type="REPC_MT004000UV01.Reason"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reference" nillable="true" type="REPC_MT004000UV01.Reference"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation1" nillable="true" type="REPC_MT004000UV01.PertinentInformation"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation2" nillable="true" type="REPC_MT004000UV01.PertinentInformation4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="pertinentInformation3" nillable="true" type="REPC_MT004000UV01.PertinentInformation5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component" nillable="true" type="REPC_MT004000UV01.Component"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.CareProvisionRequestOrPromise">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
        <xs:attribute name="moodCode" type="x_ActMoodOrdPrms" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Component">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="carePlan" nillable="true" type="REPC_MT000200UV01.CarePlan"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.InFulfillmentOf2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="careProvisionRequestOrPromise" nillable="true" type="REPC_MT004000UV01.CareProvisionRequestOrPromise"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Performer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CD"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:element name="assignedParty1" nillable="true" type="COCT_MT090400UV.AssignedParty"/>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.PertinentInformation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="carePlan" nillable="true" type="REPC_MT000200UV01.CarePlan"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.PertinentInformation4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="actList" nillable="true" type="REPC_MT000400UV01.ActList"/>
                <xs:element name="actCategory" nillable="true" type="REPC_MT000400UV01.ActCategory"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.PertinentInformation5">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="observation" nillable="true" type="POCD_MT000040.Observation"/>
                    <xs:element name="substanceAdministration" nillable="true" type="POCD_MT000040.SubstanceAdministration"/>
                    <xs:element name="supply" nillable="true" type="POCD_MT000040.Supply"/>
                    <xs:element name="procedure" nillable="true" type="POCD_MT000040.Procedure"/>
                    <xs:element name="encounter" nillable="true" type="POCD_MT000040.Encounter"/>
                    <xs:element name="act" nillable="true" type="POCD_MT000040.Act"/>
                    <xs:element name="organizer" nillable="true" type="POCD_MT000040.Organizer"/>
                </xs:choice>
                <xs:element name="actReference" nillable="true" type="REPC_MT000100UV01.ActReference"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.PrimaryInformationRecipient">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="assignedParty1" nillable="true" type="COCT_MT090400UV.AssignedParty"/>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPrimaryInformationRecipient" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Reason">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.RecordTarget">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="maintainedEntity" nillable="true" type="REPC_MT000700UV01.MaintainedEntity"/>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Reference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="encounter" nillable="true" type="COCT_MT010000UV01.Encounter"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.ReplacementOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="careProvisionEvent" nillable="true" type="REPC_MT004000UV01.CareProvisionEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReplaces" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute name="contextConductionInd" type="bl" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Subject3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="maintainedEntity" nillable="true" type="REPC_MT000700UV01.MaintainedEntity"/>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT004000UV01.Verifier">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
</xs:schema>
