phrs-modules/pcc09WS/src/main/assembly/COCT_MT020000UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT050002UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT240000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
    <xs:complexType name="COCT_MT020000UV.AR_Ordering">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actOrder" nillable="true" type="COCT_MT020000UV.ActOrder"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReferencesOrder" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ActAppointment">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT020000UV.Subject"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reusableDevice" nillable="true" type="COCT_MT020000UV.ReusableDevice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT020000UV.P_Practitioner"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT020000UV.Author"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT020000UV.P_Location"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="referencedOrder" nillable="true" type="COCT_MT020000UV.AR_Ordering"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scheduleRequest" nillable="true" type="COCT_MT020000UV.ScheduleRequest"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reference" nillable="true" type="COCT_MT020000UV.Reference"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component1" nillable="true" type="COCT_MT020000UV.Component3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component2" nillable="true" type="COCT_MT020000UV.Component"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodAppointment" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ActAppointmentRequest">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodAppointmentRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ActOrder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Component">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element name="actAppointment" nillable="true" type="COCT_MT020000UV.ActAppointment"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Component3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="supplyOrder" nillable="true" type="COCT_MT020000UV.SupplyOrder"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Consumable">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturedProduct" nillable="true" type="COCT_MT020000UV.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Device">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="manufacturerModelName" type="SC"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ManufacturedDevice">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="manufacturedDevice" nillable="true" type="COCT_MT020000UV.Device"/>
            <xs:element minOccurs="0" name="manufacturerOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ManufacturedMaterialKind">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element name="quantity" type="PQ"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="manufacturedMaterialKind" nillable="true" type="COCT_MT020000UV.ManufacturedMaterialKind"/>
            <xs:element minOccurs="0" name="manufacturerOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.P_Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="performInd" type="BL"/>
            <xs:element minOccurs="0" name="substitutionConditionCode" type="CE"/>
            <xs:element name="serviceDeliveryLocation" nillable="true" type="COCT_MT240000UV01.ServiceDeliveryLocation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.P_Practitioner">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CD"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="performInd" type="BL"/>
            <xs:element minOccurs="0" name="substitutionConditionCode" type="CE"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Reference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="schedule" nillable="true" type="COCT_MT020000UV.Schedule"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ReusableDevice">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="performInd" type="BL"/>
            <xs:element minOccurs="0" name="substitutionConditionCode" type="CE"/>
            <xs:element name="manufacturedDevice" nillable="true" type="COCT_MT020000UV.ManufacturedDevice"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationReusableDevice" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Schedule">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="title" type="ED"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodResourceSlot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.ScheduleRequest">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actAppointmentRequest" nillable="true" type="COCT_MT020000UV.ActAppointmentRequest"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipSchedulesRequest" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.Subject">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element name="patient" nillable="true" type="COCT_MT050002UV07.Patient"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT020000UV.SupplyOrder">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="consumable" nillable="true" type="COCT_MT020000UV.Consumable"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
    </xs:complexType>
</xs:schema>
