phrs-modules/pcc09WS/src/main/assembly/COCT_MT050000UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
    <xs:include schemaLocation="COCT_MT820000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT030007UV.xsd"/>
    <xs:include schemaLocation="COCT_MT030207UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT710000UV07.xsd"/>
    <xs:include schemaLocation="COCT_MT670000UV04.xsd"/>
    <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
    <xs:include schemaLocation="COCT_MT510000UV06.xsd"/>
    <xs:complexType name="COCT_MT050000UV.AdministrativeObservation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element name="value" type="ANY"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.BirthPlace">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
            <xs:element minOccurs="0" name="birthplace" nillable="true" type="COCT_MT710000UV07.Place"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.CareGiver">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="careGiverPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CAREGIVER" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Citizen">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="politicalNation" type="COCT_MT050000UV.Nation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CIT" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.ContactParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="contactPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
                <xs:element name="contactOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.CoveredParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element name="coverageRecord" nillable="true" type="COCT_MT510000UV06.CoverageRecord"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationCoverageTarget" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Employee">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="jobTitleName" type="SC"/>
            <xs:element minOccurs="0" name="jobClassCode" type="CE"/>
            <xs:element minOccurs="0" name="occupationCode" type="CE"/>
            <xs:element name="employerOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Group">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="existenceTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Guardian">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="certificateText" type="ED"/>
            <xs:choice>
                <xs:element name="guardianPerson" nillable="true" type="COCT_MT030207UV07.Person"/>
                <xs:element name="guardianOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="GUARD" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.LanguageCommunication">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="proficiencyLevelCode" type="CE"/>
            <xs:element minOccurs="0" name="preferenceInd" type="BL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Member">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="group" nillable="true" type="COCT_MT050000UV.Group"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Nation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="name" type="ON"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute fixed="NAT" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.NonPersonLivingSubject">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="existenceTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="riskCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="deceasedInd" type="BL"/>
            <xs:element minOccurs="0" name="deceasedTime" type="TS"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="organDonorInd" type="BL"/>
            <xs:element minOccurs="0" name="genderStatusCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="COCT_MT050000UV.PatientOfOtherProvider"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="COCT_MT050000UV.Member"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT050000UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="COCT_MT050000UV.ContactParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="COCT_MT050000UV.Guardian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="personalRelationship" nillable="true" type="COCT_MT050000UV.PersonalRelationship"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="careGiver" nillable="true" type="COCT_MT050000UV.CareGiver"/>
            <xs:element minOccurs="0" name="birthPlace" nillable="true" type="COCT_MT050000UV.BirthPlace"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantorRole" nillable="true" type="COCT_MT670000UV04.GuarantorRole"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.OtherIDs">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="scopingOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Patient">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="veryImportantPersonCode" type="CE"/>
            <xs:choice>
                <xs:element minOccurs="0" name="patientPerson" nillable="true" type="COCT_MT050000UV.Person"/>
                <xs:element minOccurs="0" name="patientNonPersonLivingSubject" nillable="true" type="COCT_MT050000UV.NonPersonLivingSubject"/>
            </xs:choice>
            <xs:element minOccurs="0" name="providerOrganization" nillable="true" type="COCT_MT150003UV03.Organization"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT050000UV.Subject4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="coveredPartyOf" nillable="true" type="COCT_MT050000UV.CoveredParty"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.PatientOfOtherProvider">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="subjectOf" type="COCT_MT050000UV.Subject3"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Person">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="deceasedInd" type="BL"/>
            <xs:element minOccurs="0" name="deceasedTime" type="TS"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="organDonorInd" type="BL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element minOccurs="0" name="maritalStatusCode" type="CE"/>
            <xs:element minOccurs="0" name="educationLevelCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disabilityCode" type="CE"/>
            <xs:element minOccurs="0" name="livingArrangementCode" type="CE"/>
            <xs:element minOccurs="0" name="religiousAffiliationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="raceCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicGroupCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asPatientOfOtherProvider" nillable="true" type="COCT_MT050000UV.PatientOfOtherProvider"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asEmployee" nillable="true" type="COCT_MT050000UV.Employee"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asCitizen" nillable="true" type="COCT_MT050000UV.Citizen"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asStudent" nillable="true" type="COCT_MT050000UV.Student"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="COCT_MT050000UV.Member"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT050000UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="COCT_MT050000UV.ContactParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="COCT_MT050000UV.Guardian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="personalRelationship" nillable="true" type="COCT_MT050000UV.PersonalRelationship"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="careGiver" nillable="true" type="COCT_MT050000UV.CareGiver"/>
            <xs:element minOccurs="0" name="birthPlace" nillable="true" type="COCT_MT050000UV.BirthPlace"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantorRole" nillable="true" type="COCT_MT670000UV04.GuarantorRole"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="languageCommunication" nillable="true" type="COCT_MT050000UV.LanguageCommunication"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.PersonalRelationship">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="relationshipHolder1" nillable="true" type="COCT_MT030007UV.Person"/>
                <xs:element name="relationshipHolder2" nillable="true" type="COCT_MT030007UV.NonPersonLivingSubject"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRS" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Student">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="schoolOrganization" nillable="true" type="COCT_MT150007UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="STD" name="classCode" type="RoleClass" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Subject3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="careProvision" type="COCT_MT820000UV.CareProvision"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT050000UV.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="administrativeObservation" nillable="true" type="COCT_MT050000UV.AdministrativeObservation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
    </xs:complexType>
</xs:schema>
