phrs-modules/pcc09WS/src/main/assembly/REPC_MT000300UV01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090102UV02.xsd"/>
    <xs:complexType name="REPC_MT000300UV01.Annotation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="text" type="ST"/>
            <xs:element name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000300UV01.Author"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ACT" name="classCode" type="ActClass" use="optional"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Component">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="concern" nillable="true" type="REPC_MT000300UV01.Concern"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Concern">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="confidentialityCode" type="CV"/>
            <xs:element minOccurs="0" name="subject1" nillable="true" type="REPC_MT000300UV01.Subject2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="REPC_MT000300UV01.RecordTarget"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000300UV01.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="REPC_MT000300UV01.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="REPC_MT000300UV01.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="REPC_MT000300UV01.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="REPC_MT000300UV01.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="REPC_MT000300UV01.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="REPC_MT000300UV01.Location"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="links" nillable="true" type="REPC_MT000300UV01.Links"/>
            <xs:element minOccurs="0" name="replacementOf" nillable="true" type="REPC_MT000300UV01.ReplacementOf"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sequelTo" nillable="true" type="REPC_MT000300UV01.SequelTo"/>
            <xs:element maxOccurs="unbounded" name="subject2" type="REPC_MT000300UV01.Subject4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reference" nillable="true" type="REPC_MT000300UV01.Reference"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component" nillable="true" type="REPC_MT000300UV01.Component"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonOf" nillable="true" type="REPC_MT000300UV01.Reason"/>
            <xs:element minOccurs="0" name="subjectOf1" nillable="true" type="REPC_MT000300UV01.Subject5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="REPC_MT000300UV01.Subject3"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.ControlActEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CV"/>
            <xs:element name="statusCode" type="CS"/>
            <xs:element name="effectiveTime" type="TS"/>
            <xs:element minOccurs="0" name="reasonCode" type="CV"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="REPC_MT000300UV01.ResponsibleParty"/>
            <xs:element maxOccurs="unbounded" name="author" nillable="true" type="REPC_MT000300UV01.Author"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CACT" name="classCode" type="ActClass" use="optional"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CV"/>
            <xs:element minOccurs="0" name="signatureCode" type="CV"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ENT" name="typeCode" type="ParticipationType" use="optional"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.HealthCareFacility">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="location" nillable="true" type="REPC_MT000300UV01.Place"/>
            <xs:element minOccurs="0" name="serviceProviderOrganization" nillable="true" type="REPC_MT000300UV01.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Informant">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="INF" name="typeCode" type="ParticipationType" use="optional"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Links">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="concern" nillable="true" type="REPC_MT000300UV01.Concern"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ELNK" name="typeCode" type="ActRelationshipType" use="optional"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="healthCareFacility" nillable="true" type="REPC_MT000300UV01.HealthCareFacility"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Organization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="ON"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Performer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
                <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Place">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Reason">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.RecordTarget">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV.Patient"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Reference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.ReplacementOf">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="concern" nillable="true" type="REPC_MT000300UV01.Concern"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RPLC" name="typeCode" type="ActRelationshipType" use="optional"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.ResponsibleParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.ResponsibleParty2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.SequelTo">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="concern" nillable="true" type="REPC_MT000300UV01.Concern"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Subject2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="awarenessCode" type="CE"/>
            <xs:choice>
                <xs:element name="patient1" nillable="true" type="COCT_MT050000UV.Patient"/>
                <xs:choice>
                    <xs:element name="employee" nillable="true" type="COCT_MT910000UV.Employee"/>
                    <xs:element name="student" nillable="true" type="COCT_MT910000UV.Student"/>
                    <xs:element name="personalRelationship" nillable="true" type="COCT_MT910000UV.PersonalRelationship"/>
                    <xs:element name="careGiver" nillable="true" type="COCT_MT910000UV.CareGiver"/>
                    <xs:element name="responsibleParty" nillable="true" type="COCT_MT040200UV01.ResponsibleParty"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="SBJ" name="typeCode" type="ParticipationType" use="optional"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Subject3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="annotation" nillable="true" type="REPC_MT000300UV01.Annotation"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute fixed="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Subject4">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="priorityNumber" type="INT"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="optional"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Subject5">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="controlActEvent" nillable="true" type="REPC_MT000300UV01.ControlActEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="optional"/>
        <xs:attribute fixed="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute fixed="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="REPC_MT000300UV01.Verifier">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
</xs:schema>
